.con {
  background-color: blueviolet;
  text-align: center;
}

* {
  margin: auto;

}

h3 {
  color: rgb(13, 2, 23);
  margin: auto;
  padding: 10px;
}

button {
  margin: auto;
  background-color: aliceblue;
}

div {
  text-align: center;
}